body, nav {
    background-color: rgb(40, 4, 70);
}
.wrapper {
    display: flex;
    direction: ltr;
    background: rgb(40, 4, 70);
    height: 100%;
    .step-container {
        width: 300px;
        height: 600px;
        background: rgb(218, 206, 206);
        border-radius: 10px;
        margin: 50px auto ;
        
        div {
            width: 250px;
            margin: auto;
            padding-top: 10px;
            h5 {
                text-align: center;
                margin-top: 40px;
                margin-bottom: 20px;
            }
            form , div.step-container {
                width: 200px;
                margin: auto;
                label {
                    margin-top: 10px;
                    display:block;
                }
            }
            form{ 
                label {
                    font-size: small; 
                }
            }
            button{
                float: right;
            }
            .wrap { 
                white-space: pre-wrap;        
                white-space: -moz-pre-wrap;     
                white-space: -pre-wrap;        
                white-space: -o-pre-wrap;      
                word-wrap: break-word;      
             }
        }
    }
    .display-none{
        display: none;
    }
}